{% extends 'layouts/default.njk' %}

{% block body%}
    <div class="auth-wrapper">
        <form method="POST" action="/authenticate" class="form-signin">
            <h1>Fazer o Login</h1>
            <input type="text" name="email" placeholder="Digite o seu e-mail">
            <input type="password" name="password" placeholder="Digite sua senha">
            <button type="submit">Entrar</button>
            <a href="/signup">Crie sua conta grátis</a>
        </form>
    </div>
{% endblock %}
